button {
    font: inherit;
    background: #300a13;
    padding: 0.5rem 2rem;
    color: white;
    border: 1px solid #ff2058;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10%;
  }
  
  button:hover,
  button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }
  
  button:focus {
    outline: none;
  }
  